* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.home-container {
    width: 100%;
    font-size: 1em;
    background-color: #F7F7F9;
    padding: 0;
    font-family: 'Inter', sans-serif;

    .home-main {
        position: relative;

        .parallax-text {
            color: white;
            position: absolute;
            bottom: 60px;
            right: 60px;
        }
    }

    .home-wrap {
        padding: 70px 100px;

        p {
            font-size: 2em;
            margin-bottom: 20px;
        }
    }

    .home-goLink {
        padding: 0;
        margin-bottom: 80px;

        div {
            display: flex;
            justify-content: space-between;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
        }
    }

    .home-area {
        width: 100%;
        margin-bottom: 80px;

        .swiper {
            width: 100%;

            .swiper-wrapper {
                margin-left: 0px;
            }

            .swiper-button-next {
                background: url(../img/rightArrow.png) no-repeat;
                background-size: 100% auto;
            }

            .swiper-button-prev {
                background: url(../img/leftArrow.png) no-repeat;
                background-size: 100% auto;
            }

            .swiper-button-next::after,
            .swiper-button-prev::after {
                display: none;
            }
        }

        // event-card

        .event_card {
            width: 100%;
            height: 300px;
            position: relative;
            background-color: #777777;
            border-radius: 60px;

            .event_text {
                position: absolute;
                left: 30px;
                bottom: 30px;

                color: white;
            }
        }
    }

    .home-counseling {
        width: 100%;
        height: 150px;
        background-color: #AEFF1E;
        border-radius: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            font-size: 0.5em;
            strong {
                font-size: 20px;
            }
        }

        button {
            width: 150px;
            height: 70px;

            border: none;

            a {
                text-decoration: none;
                color: black;
                width: 100%;
                height: 100%;
                display: block;
                padding: 30px 0px;
            }
        }
    }
}