* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+KR&display=swap');

.home-container {
    width: 100%;
    font-size: 1em;
    background-color: #F7F7F9;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;

    .home-main {
        position: relative;

        .parallax-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            .parallax-title {
                font-weight: bolder;
                font-size: 3em;
                padding: 50px 0px;
                font-family: 'Inter', sans-serif;
                font-weight: 900;
                position: relative;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
            }

            h1 {
                padding: 20px 0px;
            }

            span {
                color: #AEFF1E;
            }

            .downIcon {
                font-size: 1.5em;
                position: absolute;
                bottom: 30px;
                animation: upDown linear 1s infinite;
            }
        }
    }

    .home-wrap {
        padding: 70px 120px;

        p {
            font-size: 2em;
            margin-bottom: 20px;
        }
    }

    .home-goLink {
        padding: 0;
        margin-bottom: 100px;

        div {
            display: flex;
            justify-content: space-between;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
        }
    }

    .home-area {
        width: 100%;
        margin-bottom: 100px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                margin: 0px 20px;
            }

            span {
                background-color: #AEFF1E;
            }
        }


        // .swiper {
        //     width: 100%;

        //     .swiper-wrapper {
        //         margin-left: 0px;
        //     }

        //     .swiper-button-next {
        //         background: url(../img/rightArrow.png) no-repeat;
        //         background-size: 100% auto;
        //     }

        //     .swiper-button-prev {
        //         background: url(../img/leftArrow.png) no-repeat;
        //         background-size: 100% auto;
        //     }

        //     .swiper-button-next::after,
        //     .swiper-button-prev::after {
        //         display: none;
        //     }
        // }

        // event-card

        .event_card {
            width: 100%;
            height: 300px;
            position: relative;
            background-color: #777777;
            border-radius: 60px;

            .event_text {
                position: absolute;
                left: 30px;
                bottom: 30px;

                color: white;
            }
        }
    }

    .home-counseling {
        width: 98%;
        height: 150px;
        margin: 0 auto;
        padding: 0px 40px;
        background-color: #AEFF1E;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1em;

            strong {
                font-size: 2em;
                font-weight: 700;
            }
        }

        button {
            width: 150px;
            height: 70px;

            border: 1px solid black;
            background-color: #FFFFFF;
            border-radius: 50px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
                width: 100%;
                height: 100%;
                display: block;
                padding: 30px 0px;
            }
        }
    }
}

@keyframes upDown {
    0% {
        bottom: 50px;
    }

    80% {
        bottom: 30px;
    }
}