.reservationList-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    position: relative;

    .reservationList-text {
        width: 80%;
        margin: 0 auto;
        background-color: white;

        display: flex;
        justify-content: center;
        flex-direction: column;

        div {
            margin-bottom: 20px;

            h3 {
                margin-bottom: 20px;
                padding: 10px;
                border-bottom: 1px solid black;
            }

            p {
                padding: 10px;
                color: #757575;
            }

        }


    }

    .reservationList-area {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: 90%;

            table,
            th,
            td {
                border-collapse: collapse;
                padding: 5px;
            }

            th {
                background-color: #E9E9E9;

                &:first-child {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                &:last-child {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }

            table {
                width: 100%;
            }

            tbody {
                .reserverBtn {
                    width: 40px;
                    height: 40px;
                    border: none;
                    margin: 50% 0%;
                    font-size: 1em;
                    background-color: transparent;
                    cursor: pointer;
                }

                .modal {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%;
                    height: 40%;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    padding: 20px;
                    border-radius: 40px;

                    h3 {
                        padding: 10px;
                        border-bottom: 1px solid black;
                    }

                    p {
                        width: 100%;
                        margin: 9% 0%;
                        text-align: center;
                    }

                    .modal-btnArea {
                        width: 50%;
                        position: absolute;
                        bottom: 5%;
                        right: 5%;

                        button {
                            width: 45%;
                            height: 35px;
                            margin: 0px 5px;
                            border: 1px solid black;
                            cursor: pointer;
                            border-radius: 40px;

                            &:first-child {
                                background-color: white;
                            }

                            &:last-child {
                                background-color: #AEFF1E;
                            }
                        }
                    }
                }

                .none {
                    display: none;
                }
            }

            td {
                padding: 15px 10px;
                text-align: center;
            }

            .event-pagination {
                text-align: center;
                margin: 0 auto;

                button {
                    width: 20px;
                    height: 20px;
                    margin: 0px 5px;
                    font-size: 10px;
                    background-color: white;
                    border: 1px solid black;
                    cursor: pointer;
                }

                .event-active {
                    background-color: #AEFF1E;
                }
            }
        }
    }
}


@media screen and (max-width : 480px) {
    .reservationList-container {
        .reservationList-text {
            width: 100%;
        }

        .reservationList-area {
            div {
                width: 100%;

                table,
                th,
                td {
                    border-collapse: collapse;
                    padding: 5px;
                }

                th {
                    background-color: #E9E9E9;
                    font-size: 0.7em;

                    &:first-child {
                        width: 10%;
                    }

                    &:last-child {
                        width: 10%;
                    }
                }

                td {
                    font-size: 0.7em;
                }


                table {
                    width: 100%;
                }

                tbody {
                    .reserverBtn {
                        width: 40px;
                        height: 40px;
                        margin: 15px 0px;
                        font-size: 0.7em;
                    }


                    .modal {
                        width: 80%;
                        height: 40%;

                        p {
                            margin: 13% 0%;
                        }

                        .modal-btnArea {
                            width: 100%;
                            right: 0%;
                            text-align: center;

                            button {
                                width: 40%;
                            }
                        }
                    }

                    .none {
                        display: none;
                    }
                }

                td {
                    padding: 15px 0px;
                    text-align: center;
                }

                .event-pagination {
                    text-align: center;
                    margin: 0 auto;

                    button {
                        width: 20px;
                        height: 20px;
                        margin: 0px 5px;
                        font-size: 10px;
                        background-color: white;
                        border: 1px solid black;
                        cursor: pointer;
                    }

                    .event-active {
                        background-color: #AEFF1E;
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 481px) and (max-width : 768px) {
    .reservationList-container {
        .reservationList-text {
            width: 100%;
        }

        .reservationList-area {
            div {
                width: 100%;

                table,
                th,
                td {
                    border-collapse: collapse;
                    padding: 10px;
                }

                th {
                    background-color: #E9E9E9;
                    font-size: 0.7em;

                    &:first-child {
                        width: 10%;
                    }

                    &:last-child {
                        width: 10%;
                    }
                }

                td {
                    font-size: 0.7em;
                }


                table {
                    width: 100%;
                }

                tbody {
                    .reserverBtn {
                        width: 40px;
                        height: 40px;
                        margin: 15px 0px;
                        font-size: 0.7em;
                    }

                    .modal {
                        width: 80%;
                        height: 40%;

                        .modal-btnArea {
                            width: 100%;
                            right: 0px;
                            text-align: center;

                            button {
                                width: 40%;
                            }
                        }
                    }

                    .none {
                        display: none;
                    }
                }

                td {
                    padding: 15px 0px;
                    text-align: center;
                }

                .event-pagination {
                    text-align: center;
                    margin: 0 auto;

                    button {
                        width: 20px;
                        height: 20px;
                        margin: 0px 5px;
                        font-size: 10px;
                        background-color: white;
                        border: 1px solid black;
                        cursor: pointer;
                    }

                    .event-active {
                        background-color: #AEFF1E;
                    }
                }
            }
        }
    }
}


@media screen and (min-width : 769px) and (max-width : 1023px) {
    .reservationList-container {
        .reservationList-text {
            width: 100%;
        }

        .reservationList-area {
            div {
                width: 100%;

                table,
                th,
                td {
                    border-collapse: collapse;
                    padding: 10px;
                }

                th {
                    background-color: #E9E9E9;
                    font-size: 0.7em;

                    &:first-child {
                        width: 10%;
                    }

                    &:last-child {
                        width: 10%;
                    }
                }

                td {
                    font-size: 0.9em;
                }


                table {
                    width: 100%;
                }

                tbody {
                    .reserverBtn {
                        width: 40px;
                        height: 40px;
                        margin: 15px 0px;
                        font-size: 0.7em;
                    }

                    .modal {
                        width: 80%;
                        height: 40%;

                        p {
                            margin: 5% 0%;
                        }

                        .modal-btnArea {
                            width: 100%;
                            right: 0px;
                            text-align: center;
                            button {
                                width: 40%;
                            }
                        }
                    }

                    .none {
                        display: none;
                    }
                }

                td {
                    padding: 15px 0px;
                    text-align: center;
                }

                .event-pagination {
                    text-align: center;
                    margin: 0 auto;

                    button {
                        width: 20px;
                        height: 20px;
                        margin: 0px 5px;
                        font-size: 10px;
                        background-color: white;
                        border: 1px solid black;
                        cursor: pointer;
                    }

                    .event-active {
                        background-color: #AEFF1E;
                    }
                }
            }
        }
    }
}