@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.reservation-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    position: relative;
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif;

    .progress-status {
        width: 30%;
        padding: 0;
        background-color: white;
        border-right: 2px solid black;

        .progress-text {
            width: 100%;
            height: 50%;
            padding: 300px 0px;
            text-align: center;
        }
    }

    .reservation-area {
        width: 70%;
        height: 100%;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .reservation-result {
            width: 100%;
            position: relative;
            background-color: transparent;

            // ---------shopsearch---------
            .shop-searchZone {
                padding: 0px;
                padding-bottom: 40px;
                border-bottom: 2px solid black;

                .select-zone {
                    display: flex;
                    padding: 0;
                    .shop {
                        width: 50%;

                        h4 {
                            padding: 5px 0px;
                            border-bottom: 2px solid black;
                        }

                        .collect-weight {
                            display: flex;
                            justify-content: space-around;

                            button {
                                width: 20%;
                                height: 30px;
                                background-color: white;
                                border: 1px solid black;
                                border-radius: 20px;
                                cursor: pointer;
                            }

                            .selected {
                                background-color: #AEFF1E;
                            }
                        }
                    }

                    .shop-search {
                        width: 50%;
                        position: relative;

                        h4 {
                            padding: 5px 0px;
                            border-bottom: 2px solid black;
                        }

                        .shop-selectArea {
                            padding: 0;
                            display: flex;
                            justify-content: space-between;

                            .shop-select {
                                display: inline-block;
                                width: 45%;
                                height: 30px;
                                margin-top: 10px;
                                border-radius: 20px;
                            }
                        }

                        input {
                            width: 100%;
                            height: 30px;
                            margin-top: 10px;
                            border-radius: 20px;
                            border: 1px solid black;
                            background-color: #E2E2E280;
                        }

                        .shop-searchIcon {
                            width: 20px;
                            position: absolute;
                            top: 60px;
                            right: 20px;
                            z-index: 1;
                        }
                    }
                }
                .input-zone{
                    padding: 30px 0px;
                    position: relative;
                    h4{
                        padding: 7px;
                    }
                    p{
                        padding: 7px;
                        font-size: 0.8em;
                        color: #B7B7B7;
                    }
                    form{
                        display: flex;
                        input{
                            border: none;
                            border-bottom: 1px solid black;
                            margin: 0px 5px;
                            padding: 10px;
                            width: 15%;
                            &:focus{
                                outline: none
                            }
                            &:nth-child(2){
                                width: 50%;
                            }
                            &:nth-child(3){
                                width: 30%;
                            }
                        }
                    }
                    button{
                        position: absolute;
                        right: 0;
                        bottom: -10px;
                        width: 10%;
                        height: 30px;
                        border-radius: 40px;
                        border: 1px solid black;
                        background-color: #AEFF1E;
                        cursor: pointer;
                    }
                }
            }

            .shop-table {
                padding: 0;

                input[type="checkbox"] {
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    border: 1px solid #B7B7B7;
                    cursor: pointer;
                    /* 둥글게 만들기 */
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                input[type="checkbox"]:checked {
                    /* 체크된 상태에서 배경색 적용 */
                    background: url(../img/check.png);
                    background-size: cover;
                }

                table,
                th,
                td {
                    border-collapse: collapse;
                    padding: 5px;
                }

                th {
                    &:first-child {
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    &:last-child {
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }

                table {
                    width: 100%;
                    margin-top: 20px;
                }

                th {
                    background-color: #E9E9E9;
                }

                td {
                    text-align: center;
                    padding: 10px 0px;
                }
            }

            .event-pagination {
                text-align: center;

                button {
                    width: 40px;
                    height: 40px;
                    margin: 0px 5px;
                    font-size: 10px;
                    background-color: transparent;
                    border: none;
                    border-radius: 50%;
                    font-size: 1em;
                    cursor: pointer;
                }

                .event-active {
                    background-color: #AEFF1E;
                }
            }

            // ---------shopsearch---------

            // ---------Schedule----------
            .calendar-container {
                width: 100%;
                font-family: Arial, sans-serif;
                padding: 50px;

                h4 {
                    font-size: 1.5em;
                    border-bottom: 1px solid black;
                    padding: 5px;
                }

                .calendar-header {
                    width: 30%;
                    margin-left: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .prev-month-button,
                    .next-month-button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 18px;
                    }

                    .calendar-month {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .calendar-days {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .calendar-day {
                    padding: 5px;
                    text-align: center;
                }

                .calendar-grid {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 5px;
                    cursor: pointer;
                }

                .blank {
                    visibility: hidden;

                }

                .selected {
                    width: 25px;
                    height: 25px;
                    margin: 0 auto;
                    background: url(../img/check.png) no-repeat;
                    background-size: cover;
                    color: transparent;
                }
            }

            .clock-container {
                width: 100%;
                margin-top: 50px;

                .clock-select {
                    margin-top: 20px;

                    button {
                        width: 10%;
                        height: 40px;
                        border-radius: 20px;
                        border: 1px solid black;
                        background-color: #F7F7F9;
                        cursor: pointer;
                        margin: 0px 10px;
                    }

                    .click {
                        background-color: #AEFF1E;
                        cursor: pointer;
                    }

                }

            }

            // ---------Schedule----------

            // ---------ScheduleCheck-----------
            .check-infor {
                h4 {
                    padding: 5px;
                    border-bottom: 1px solid black;
                    font-size: 1.5em;
                }

                form {
                    label {
                        display: block;
                        width: 100%;
                        margin: 15px 0px;

                        span {
                            display: inline-block;
                            width: 11%;
                        }

                        input {
                            width: 85%;
                            height: 30px;
                            padding: 10px;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid black;

                            &:focus {
                                outline: none;
                            }
                        }

                        textarea {
                            display: block;
                            width: 95%;
                            height: 150px;
                            margin: 10px auto;
                            padding: 10px;
                            border-radius: 20px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }

            .agree-zone {
                input[type="checkbox"] {
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    border: 1px solid #B7B7B7;
                    cursor: pointer;
                    /* 둥글게 만들기 */
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                input[type="checkbox"]:checked {
                    /* 체크된 상태에서 배경색 적용 */
                    background: url(../img/check.png);
                    background-size: cover;
                }

                .agree-check {
                    border-bottom: 1px solid black;

                    span {
                        font-weight: bold;
                    }
                }
            }

            // ---------ScheduleCheck-----------
        }


        .reservation-btnArea {
            width: 100%;

            button {
                background-color: white;
                border: 1px solid black;
            }
        }
    }


}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: 'Noto Sans KR', sans-serif;

    .success-modal {
        width: 50%;
        height: 50%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 0;
        border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        h3 {
            border-bottom: 1px solid black;
            padding: 10px 0px;
        }

        .modal-text {
            padding: 10px;
            p {
                width: 30%;
                display: inline-block;
                margin: 10px 0px;
                font-weight: bold;
            }

            span {
                width: 70%;
                display: inline-block;
            }
        }

        .btn-area {
            padding: 0;
            margin: 0;
            position: absolute;
            width: 40%;
            right: 0;
            bottom: 10px;

            button {
                width: 45%;
                height: 40px;
                border: 1px solid black;
                cursor: pointer;
                border-radius: 50px;
                margin: 0px 5px;

                &:last-child {
                    background-color: #AEFF1E;
                }
            }
        }
    }


}

.none-modal {
    display: none;
}