.service-container {
    width: 100%;
    padding: 70px;
    margin: 0;

    font-size: 1em;
    background-color: #F7F7F9;


    .service-title {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question-area,
    .event-area,
    .notice-area,
    .counseling-area {
        width: 100%;
        border-bottom: 1px solid #C5C5C5;

        .question,
        .notice,
        .counseling {
            background-color: white;
            margin-bottom: 30px;
            border-radius: 40px;
            padding: 20px;

            &:last-child {
                border: none;
            }
        }

        .notice {
            p {
                border-bottom: 1px solid #C5C5C5;
                padding: 20px;

                &:last-child {
                    border: none;
                }
            }
        }
    }

    .question-title,
    .event-title,
    .notice-title,
    .counseling-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 20px 0px;

        p {
            font-size: 2em;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: #FFFFFF;
            border: 1px solid black;
            border-radius: 20px;

            img {
                margin-right: 6px
            }
        }
    }

    .event-title {
        justify-content: center;
        font-weight: bold;
    }

}